.ant-layout-content {
  .content-main {
    width: 1176px; //108px
    height: 1188px; //暂时写死
    margin: 30px 132px;
    background: #fff;
    .funds-menu {
      @include box-sizing (border-box);
      float: left;
      width: 300px;
      height: 100%;
      padding: 20px;
      border-right: 1px solid #7f8fa4; // background: red;
      h3 {
        height: 45px;
        line-height: 45px;
        padding: 0 20px;
        font-size: 18px;
        font-family: PingFangSC;
        i {
          color: #7f8fa4;
        }
        span {
          padding-left: 10px;
          color: #7f8fa4;
        }
      }
      ul {
        li {
          margin: 18px 0;
          a {
            position: relative;
            display: inline-block;
            padding: 10px 20px;
            width: 100%;
            color: #7f8fa4;
            .anticon-arrow-right {
              position: absolute;
              display: none;
              right: 20px;
              top: 15px;
            }
            &:hover {
              background: #f8f9fe;
            }
          }
          a.selected {
            background: #f8f9fe;
            color: #0db4e6;
            .anticon-arrow-right {
              display: block;
            }
          }
        }
      }
    }
    .funds-content {
      float: left;
      @include box-sizing (border-box);
      width: 876px;
      height: 100%;
      padding: 24px 30px; // background: yellow;x
    }
  }
}