.home {
  /*首页->头部*/
  .ant-layout-header {
    width: 1440px;
    height: 60px;
    padding: 0;
    line-height: 60px;
    background: #FFF;
    @include linear-gradient(right, #5560eb, #57c9e6);
    .top-main {
      position: relative;
      height: 60px;
      width: 1224px; //108px
      margin: 0 108px;
      .logo {
        position: absolute;
        left: 24px;
        width: 134px;
        background: red;
      }
      .nav {
        position: absolute;
        left: 225px;
        height: 60px;
        li {
          float: left;
          width: 76px;
          text-align: center;
          margin-right: 24px;
          opacity: 0.8;
          a {
            color: #FFF;
            padding: 8px 0; // opacity: 0.8;
          }
          &:hover {
            opacity: 1;
          }
        }
      }
      .support {
        position: absolute;
        right: 501px;
      }
      .support,
      .is-login,
      .un-login {
        .ant-select-selection {
          background-color: rgba(0, 0, 0, 0);
          border: 0;
          color: #fff;
          opacity: .8;
        }
        .ant-select-selection:focus {
          @include box-shadow(0, 0, 0, 0);
          opacity: 1;
        }
        .ant-select-selection:hover {
          opacity: 1;
        }
        .ant-select-arrow:before {
          color: #fff;
        }
        .ant-select-selection-selected-value{
          color:#fff;
        }
      }
      .un-login {
        position: absolute;
        right: 24px;
        .ant-select-selection {
          .ant-select-selection-selected-value {
            padding-right: 15px;
          }
        }
        .ant-select-arrow {
          // right: 34px;
        }
        .but_primary {
          width: 76px;
          height: 32px;
          border: 0;
          border-radius: 2px;
          padding: 0; // color: #FFF;
          color: #F4F4F4;
          span{
            color: #F4F4F4;
          }
        }
        .but_primary:hover {
          span{
            color: #fff;
          }
        }
        .but_login {
          margin-left: 11px;
        }
        .but_sign {
          background-color: #0db4e6;
          margin-left: 24px;
        }
      }
      .is-login {
        position: absolute;
        right: 24px;
        .ant-select-selection {
          .ant-select-selection-selected-value {
            padding-right: 15px;
          }
        }
        .anticon-user {
          font-size: 24px;
          color: #fff;
        }
        .personal-item-span {}
      }
    }
  }
}

/*t脱离页面的样式*/


.ant-select-dropdown-menu-item{
  padding: 5px 10px;
}
.sup-item {
  .anticon {
    color: #7f8fa4;
  }
  span {
    color: #7f8fa4;
    padding-left: 10px;
  }
  &:hover {
    .anticon {
      color: #0db4e6;
    }
    span {
      color: #0db4e6;
    }
  }
}

.ant-popover-content {
  .personal-item {
    line-height: 26px;
    .personal-item-span {
      padding-left: 10px;
      color: #7f8fa4;
    }
    .anticon {
      color: #7f8fa4;
    }
    &:hover {
      .personal-item-span {
        color: #0db4e6;
      }
      .anticon {
        color: #0db4e6;
      }
    }
  }
}

/*尾部样式*/

.ant-layout-footer {
  width: 1440px;
  background: #222c3c;
  height: 312px;
  .buttom-main {
    // position: relative;
    background: red;
    width: 1176px; //108px
    margin: 0 132px;
  }
}